/* Navbar Styles */
.navbar p {
    padding-left: 5px;
    color: white;
    width: 140px;
}

/* Home Section */
#home p {
    padding: 5px 30px;
}

/* Services Section */
.services-box
